
.container {
  display: flex;
  width: 900px;
}
.firstContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(31, 77%, 52%);
  
  padding: 40px;
  /* color: white; */
  
  
}
.secondContainer {
  background-color: hsl(184, 100%, 22%);
  padding: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* color: white; */

  
}
.thirdContainer {
  background-color: hsl(179, 100%, 13%);
  padding: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* color: white; */
  
}